---
---

@import "{{ site.theme }}";


.people-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.people-name {
  margin: 5px 0 10px;
}

.people-name h6 {
  margin: 2px 0;
  font-weight: 300;
  font-size: 11px;
}

.column {
  float: left;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

.column2 {
  float: left;
  width: 25%;
}
